/* lol'd at that CSS */
body {
    line-height: 1.2;
}
#results {}

#details {
    margin-top: 10px;
}

#canvas-container {
    float: left;
}
#beacon-info{
    float: left;
    width: 30%;
    column-fill: balnce;
    column-width: 150px;
}

#controls {
    float: left;
    width: 10%;
}

#advanced-controls {
    margin: 5px;
    float: left;
}

.inputs {
    display: block;
}
.inputs input {
    /* display: block; */
}

#color-controls {
    margin-top: 10px;
    float: left;
    width: 100%;
    line-height: 1.4em;
}
#color-control-title {
    font-size: 1.2em;
}
#control-inputs{
    width: 100%;
    float:left;
}
#control-inputs .inputs{
    display: block;
    width: 100%;
    float:left;
}
#control-inputs input{
    float:right;
    width: 40%;
}